
# Backend environment variables
# FastAPI
APP_NAME="Event Aggregator Backend"
APP_ENV="development"
APP_PORT=8000

# Supabase
SUPABASE_URL="replace_with_your_supabase_url"
SUPABASE_KEY="replace_with_your_supabase_key"

# JWT / security
SECRET_KEY="replace_with_a_random_secret"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend CORS
FRONTEND_ORIGIN="http://localhost:5173"

#Discord Scraper
DISCORD_BOT_TOKEN="replace_with_your_discord_bot_token"
DISCORD_CHANNEL_IDs="replace_with_your_discord_channel_ids" # example: "123456789012345678,987654321098765432"
MESSAGE_FETCH_LIMIT=10

# Huggingface
HUGGINGFACE_API_KEY="replace_with_your_huggingface_api_key"

DEFAULT_CLUB_ID=322bb6cd-a709-4246-acc6-c191995ce14b